.container {
    margin-top: 25vh;
    
}

body {
    
}

.panel-default {
    border-color: #ddd;
    box-shadow: none;
}

.panel-default>.panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
}

.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.form-control:focus {
    border-color: #2e6da4;
    box-shadow: none;
}

@media (max-width: 768px) {
    .panel-default>.panel-heading {
        text-align: center;
    }
}